{% extends "main.html" %}
{% block menu %}
  {% include 'loggedinMenu.html' %}
{% endblock %}
{% block page %}
{% for a in form.non_field_errors %}
  <div class="alert alert-error">
    {{ a|safe }}
  </div>
{% endfor %}
{% if error %}
  <div class="alert alert-error">
    {{ error|safe }}
  </div>
{% endif %}
<form class="form-horizontal" action="{% url 'changePassword' %}" method = "post">
  {% csrf_token %}
  <legend>
    تغییر کلمه‌ی عبور
  </legend>
  <div class="control-group {% if form.oldPassword.errors %}error{%endif%}">
      <label class="control-label" for="{{ form.oldPassword.auto_id }}">کلمه‌ی عبور قدیمی:</label>
      <div class="controls">
        {{ form.oldPassword }}
        {% for error in form.oldPassword.errors %}
       <div class="help-inline ">
        {{ error }}
      </div>
    {% endfor %}
      </div>
  </div>
  <div class="control-group {% if form.newPassword.errors %}error{%endif%}">
      <label class="control-label" for="{{ form.newPassword.auto_id }}">کلمه‌ی عبور جدید:</label>
      <div class="controls">
        {{ form.newPassword }}
        {% for error in form.newPassword.errors %}
       <div class="help-inline ">
        {{ error }}
      </div>
    {% endfor %}
      </div>
  </div>
  <div class="control-group {% if form.newPasswordR.errors %}error{%endif%}">
      <label class="control-label" for="{{ form.newPasswordR.auto_id }}">تکرار کلمه‌ی عبور:</label>
      <div class="controls">
        {{ form.newPasswordR }}
        {% for error in form.newPasswordR.errors %}
       <div class="help-inline ">
        {{ error }}
      </div>
    {% endfor %}
      </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button type="submit" class="btn btn-primary">تغییر</button>
    </div>
  </div>
</form>

{% endblock page %}
