{% extends "main.html" %}
{% block page %}
<div>
در صورتی که نام کاربری یا کلمه‌ی عبود خود را فراموش کرده‌اید ایمیلتان را وارد کنید:
</div>
{% for a in error%}
  <div class="alert alert-error">
    {{ a|safe }}
  </div>
{% endfor %}
<form action="{% url 'forgetPassword' %}" method = "post" style="margin-top:50px;">
  {% csrf_token %}
  <div class="control-group {% if error %}error{%endif%}" style="text-align: center">
      <div class="controls">
        <input type="text" name = "email" placeholder="ایمیل" class="span5" >
      </div>
  </div>
  <div class="control-group" style="text-align: center">
    <div class="controls">
      <button type="submit" class="btn btn-primary">ارسال</button>
    </div>
  </div>
</form>

{% endblock page %}
