{% extends "main.html" %}
{% block page %}
<div style="position: relative;top: 70px;right: 375px;">
<form action="{{ app_path }}" method="post" id="login-form" class="span3" >
  {% csrf_token %}
  <div class="control-group {% if form.username.errors %}error{% endif %}">
    <div class="input-prepend">
    {{ form.username }}
    <span class="add-on"><i class="icon-user"></i></span>
    </div>
  </div>
  <div class="control-group {% if form.password.errors %}error{% endif %}">
    <div class="input-prepend">
    {{ form.password }}
    <span class="add-on"><i class="icon-lock"></i></span>
    </div>
  </div>
  {% for error in form.non_field_errors %}
  <div class="alert alert-error">
      {{ error }}
  </div>
  {% endfor %}
  <input type="hidden" name="this_is_the_login_form" value="1" />
  <input type="hidden" name="next" value="{{ next }}" />
  <div style="text-align:center;">
    <a href="{% url 'register' %}">
    <input type="button" class="inline btn" name="register" value="ثبت نام" >
    </a>
    <input type="submit" class="inline span2 btn btn-primary" name="register" value="ورود">
  </div>
    <div style="text-align: center; margin-top: 15px;">
     
      <a href="{% url 'forgetPassword' %}" style="color:#00f"><span> نمی‌توانم وارد شوم!</span></a>
    </div>
</form>
</div>
{% endblock %}
