{% extends "main.html" %}
{% load static %}
{% block menu %}
{% if logedinUser %}
  {% include 'loggedinMenu.html' %}
{% else %}
  {% include 'menu.html' %}
{% endif %}
{% endblock %}
{% block page %}
{% for a in error.all %}
  <div class="alert alert-error">
    {{ a|safe }}
  </div>
{% endfor %}
<style type="text/css">
/*  #ajax{
    background-image:url('{% static 'Glass.png' %}');
    background-color:rgba(20, 0, 8,0.9);
  }*/
</style>
<form class="form-horizontal" action="
{% if logedinUser %}
  {% url 'profile' %}
{% else %}
  {% url 'register' %}
{% endif %}
" method = "post">
  {% csrf_token %}
  <legend>
    {% if logedinUser %}
      ویرایش اطلاعات کاربری
    {% else %}
      ثبت نام
    {% endif %}
  </legend>
  <div class="control-group {% if error.username %}error{%endif%}">
    <label class="control-label" for="username">نام کاربری</label>
    <div class="controls">
      <input type="text"
      {% if not logedinUser %}
          name = "username"
      {% else %}
          disabled="disabled"
      {% endif %}
        value = "{{oldValue.username}}" id="username" placeholder="نام کاربری">
      {% for a in error.username %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  {% if not logedinUser %}
    <div class="control-group {% if error.password %}error{%endif%}">
      <label class="control-label" for="password">کلمه‌ی عبور</label>
      <div class="controls">
        <input type="password" name = "password" id="password" placeholder="کلمه‌ی عبور">
        {% for a in error.password %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
      </div>
    </div>
    <div class="control-group {% if error.password %}error{%endif%}">
      <label class="control-label" for="password2">تکرار کلمه‌ي عبور</label>
      <div class="controls">
        <input type="password" name = "password2" id="password2" placeholder="تکرار کلمه‌ی عبور">
      </div>
    </div>
  {% endif %}
  <div class="control-group {% if error.name %}error{%endif%}">
    <label class="control-label" for="name">نام</label>
    <div class="controls">
      <input type="text" name = "name" value = "{{oldValue.name}}" id="name" placeholder="نام">
      {% for a in error.name %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.lastname %}error{%endif%}">
    <label class="control-label" for="lastname">نام خانوادگی</label>
    <div class="controls">
      <input type="text" name = "lastname" value = "{{oldValue.lastname}}" id="lastname" placeholder="نام خانوادگی">
      {% for a in error.lastname %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.email %}error{%endif%}">
    <label class="control-label" for="email1">ایمیل</label>
    <div class="controls">
      <input type="email" name = "email" value = "{{oldValue.email}}" id="email1" placeholder="ایمیل">
      {% for a in error.email %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.nationalID %}error{%endif%}">
    <label class="control-label" for="nationalID">شماره‌ی ملی</label>
    <div class="controls">
      <input type="text" name = "nationalID" value = "{{oldValue.nationalID}}" id="nationalID" placeholder="شماره‌ی ملی">
      {% for a in error.nationalID %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.age %}error{%endif%}">
    <label class="control-label" for="age">سن</label>
    <div class="controls">
      <input type="text" name = "age" value = "{{oldValue.age}}" id="age" placeholder="سن">
      {% for a in error.age %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.phone %}error{%endif%}">
    <label class="control-label" for="phone">تلفن</label>
    <div class="controls">
      <input type="text" name = "phone" value = "{{oldValue.phone}}" id="phone" placeholder="تلفن">
      {% for a in error.phone %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.gender %}error{%endif%}">
    <label class="control-label" for="gender">جنسیت</label>
    <div class="controls">
      <select name="gender" id="gender" {% if oldValue.user.superviser.isLocked %}
        disabled="disabled"
        {% endif %}>
        {% if oldValue.gender %}
        {% else %}
          <option value="" selected="selected" disabled="disabled"></option>
        {% endif %}
        <option value="0"
        {% if oldValue.gender == "0" %}
        selected="selected"
        {% endif %} >مرد</option>
        <option value="1"
        {% if oldValue.gender == "1" %}
        selected="selected"
        {% endif %}>زن</option>
      </select>
      {% for a in error.gender %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.place %}error{%endif%}">
    <label class="control-label" for="place">وضعیت سکونت</label>
    <div class="controls">
      <div>
      <label class="radio">
        <input name="place" value="0" class="place" type="radio"
        {% if oldValue.place == "0" %}
        checked="checked"
        {% endif %}> داخل تهران
      </label>
      <label class="radio">
        <input name="place" value="1" class="place" type="radio"
        {% if oldValue.place == "1" %}
        checked="checked"
        {% endif %}> خارج از تهران
      </label>
      </div>
      {% for a in error.night %}
        <span class ="help-inline ">
          {{ a|safe }}
        </span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <button type="submit" class="btn btn-primary">ذخیره</button>
    </div>
  </div>
</form>

{% endblock page %}
