<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



  </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100%;">
      <center>
          <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="direction:rtl;margin: 0;padding: 0;background-color: #FAFAFA;height: 100%;width: 100%;">
              <tr>
                  <td align="center" valign="top" style="padding-top: 20px;border-collapse: collapse;">
                      <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #FFFFFF;">
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Header \ -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                                        <tr>
                                            <td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Tahoma, Georgia, &quot;Bitstream Charter&quot;, serif;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">


                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">

                                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                      <tr>
                                            <td valign="top" style="border-collapse: collapse;">


                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFFFFF;">
                                                            <div mc:edit="std_content00" style="color: #505050;font-family: Tahoma, Georgia, &quot;Bitstream Charter&quot;, serif;font-size: 14px;line-height: 150%;text-align: right;">
<br>
                                                                سلام {{name}} {{fname}}<br>
                                                                اطلاعات حساب کاربری شما در سامانه‌ی ثبت‌نام شریف‌کاپ به صورت زیر است:<br>
                                                                نام کاربری: {{uname}}<br>
                                                                پسورد: {{password}}<br>
                                                                لطفا جهت افزایش امنیت حساب خود در سریعترین زمان ممکن پسوردتان را تغییر دهید.
                                                            </div>
                            </td>
                                                    </tr>
                                                </table>


                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">

                                  <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FFFFFF;border-top: 0;">
                                      <tr>
                                          <td valign="top" class="footerContent" style="border-collapse: collapse;">


                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                            <div mc:edit="std_footer" style="color: #707070;font-family: Tahoma, Georgia, &quot;Bitstream Charter&quot;, serif;font-size: 12px;line-height: 125%;text-align: center;">
  <strong>آدرس: </strong>خیابان آزادی – دانشگاه صنعتی شریف – دانشکده برق – کانون علمی رسانا
<br>
<strong>پست الکترونیک:</strong>
<a href="mailto:info@sharifcup.sharif.ir" style="color: #336699;font-weight: normal;text-decoration: underline;">info@sharifcup.sharif.ir</a><br>
<strong>وب سایت:</strong>
<a href="http://sharifcup.sharif.ir" style="color: #336699;font-weight: normal;text-decoration: underline;">http://sharifcup.sharif.ir</a>
<br>
<strong>تلفکس:</strong>
۶۶۰۲۹۱۷۱-۰۲۱
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>


                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
