{% extends "main.html" %}
{% block menu %}
  {% include 'loggedinMenu.html' %}
{% endblock %}
{% block page %}
<style type="text/css">
  td.dynamic span{
    visibility: hidden;
  }
  td.dynamic span a{
    padding-right:3px;
    padding-left:3px;
  }
  .table tr:hover td.dynamic span{
    visibility: visible;
  }
</style>
<table class="table table-striped">
  <thead>
    <tr>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th>ایمیل</th>
    <th>شمار‌ه‌ی ملی</th>
    <th>وضعیت</th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    {% for a in participants %}
    <tr {% if a.activate %}
          class="success"
        {% else %}
          class="warning"
        {% endif %}>
      <td>{{ a.name }}</td>
      <td>{{ a.fname }}</td>
      <td>{{ a.email }}</td>
      <td>{{ a.nationalID }}</td>
      <td>
        {% if a.activate %}
          تایید شده
        {% else %}
          درحال بررسی
        {% endif %}
      </td>
      <td  class ="dynamic"><span>{% if a.safeToRemove %}<a href = "{% url 'deleteParticipant' a.id%}" style="color:red">حذف</a>{% endif %} <a href = "{% url 'editParticipant' a.id%}" style="color:blue">ویرایش</a></span></td>
    </tr>
    {% endfor %}
    <tr>
      <td class="addnew" colspan="6" style="text-align:center"><a href = "{% url 'createParticipant' %}" style="color:blue">اضافه کردن عضو جدید</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
