{% extends "main.html" %}
{% block menu %}
  {% include 'loggedinMenu.html' %}
{% endblock %}
{% block page %}
<form class="form-horizontal" action="
{% if id %}
  {% url 'editTeam' id %}
{% else %}
  {% url 'createTeam' %}
{% endif %}
" method = "post">
  {% csrf_token %}
  {% if oldValue.id %}
    <legend>ویرایش تیم</legend>
  {% else %}
    <legend>افزودن تیم جدید</legend>
  {% endif %}
  {% for a in error.all %}
    <div class="alert alert-error">
      {{ a|safe }}
    </div>
  {% endfor %}
  <div class="control-group {% if error.name %}error{%endif%}">
    <label class="control-label" for="name">نام</label>
    <div class="controls">
      <input type = "text" id="name" name = "name" value = "{{oldValue.name}}"/>
      {% for a in error.name %}
        <span class="help-inline">{{ a|safe }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="control-group {% if error.league %}error{%endif%}">
    <label class="control-label" for="league">لیگ</label>
    <div class="controls">
      <select id="league" name = "league">
        {% if oldValue.league %}
        {% else %}
          <option value="" selected="selected" disabled="disabled">لیگ</option>
        {% endif %}
        {% for key, value in leagues.items %}
          <option value="{{ value }}"
          {% if oldValue.league.id == value %}
          selected="selected"
          {% endif %}
          >{{ key }}</option>
        {% endfor %}
      </select>
      {% for a in error.league %}
        <span class="help-inline">{{ a|safe }}</span>
      {% endfor %}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">ذخیره</button>
</form>
{% endblock page %}
