{% extends "main.html" %}
{% block menu %}
  {% include 'loggedinMenu.html' %}
{% endblock %}
{% block page %}
<style type="text/css">
  td.dynamic span{
    visibility: hidden;
  }
  td.dynamic span a{
    padding-right:3px;
    padding-left:3px;
  }
  .table tr:hover td.dynamic span{
    visibility: visible;
  }
</style>
<table class="table table-striped">
  <thead>
    <tr>
    <th>نام</th>
    <th>نام خانوادگی</th>
    <th>ایمیل</th>
    <th>شمار‌ه‌ی ملی</th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    {% for a in users %}
    <tr>
      <td>{{ a.name }}</td>
      <td>{{ a.fname }}</td>
      <td>{{ a.email }}</td>
      <td>{{ a.nationalID }}</td>
      <td  class ="dynamic"><span><a href = "{% url 'editParticipant' a.id%}" style="color:blue">ویرایش</a></span></td>
    </tr>
    {% endfor %}
  </tbody>
  <tr>
    <td class="addnew" colspan="5" style="text-align:center">این تیم به جز سرپرست عضو دیگری ندارد.</td>
  </tr>
</table>
{% endblock %}
